.about-company {
    display: flex;
    background-image: url(../img/background-about_us_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 70%;
    background-position-y: 50%;
    position: relative;
    margin: auto;    
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 140px;
    max-width: 1920px;
    min-width: 320px;
}
.about-company_top {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #f6c43d; 
    margin-bottom: 30px;
    margin-left: 130px;
    position: relative;
    
}
.about-us {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: #222;
    margin-left: 130px;
    margin-bottom: 20px;
    position: relative;
}
.slogan {
    font-size: 18px;
    font-weight: 700;
    color:#222;
    margin-left: 130px;
    margin-bottom: 30px;
    position: relative;
}
.offers {
    font-size: 17px;
    font-weight: 400;
    color:#898989;
    margin-left: 130px;
    margin-bottom: 120px;
    max-width: 650px;
    position: relative;
}
.offers-p_first {
    margin-bottom: 30px; 
}
.contact_buttom {
    font-size: 16,5px;
    font-weight: 700;
    color: #fff;
    font-stretch: 100%;
    background-color: var(--main-blue);
    padding: 15px 15px ;
    border-radius: 30px;
    margin-left: 130px;
    position: relative;
    width: 170px;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s;
}
.contact_buttom:hover {
    background-color: var(--top-heading-color); 
}

