.about-company {
    display: flex;
    background-image: url(../img/background-about_us_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -20%;
    background-position-y: 50%;
    margin: auto;    
    padding-top: 40px;
    padding-bottom: 100px;
    padding-left: 20px;
}

@media (min-width:600px) {
    .container_about-compani {
        margin-right: 10px;
        padding-left: 140px;
        padding-right: 20px;
    }

}
.container_about-compani {
    display: flex;
    flex-direction: column;

}
.about-company_top {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #f6c43d; 
    margin-bottom: 30px;
    
}
.about-us {
    margin-bottom: 20px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #222;
}
.slogan {
    font-size: 18px;
    font-weight: 700;
    color:#222;
    margin-bottom: 30px;
}
.offers {
    font-size: 17px;
    font-weight: 400;
    color:#898989;
    margin-bottom: 120px;
    max-width: 650px;
}
.offers-p_first {
    margin-bottom: 30px; 
}
.contact_buttom {
    font-size: 16,5px;
    font-weight: 700;
    color: #fff;
    font-stretch: 100%;
    background-color: var(--main-blue);
    padding: 15px 15px ;
    border-radius: 30px;
    margin-bottom: 40px;
    position: relative;
    width: 170px;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s;
}
.contact_buttom:hover {
    background-color: var(--top-heading-color); 
}

