/* #burger_checkbox {
    display: none;
}
.subheader_navigation_icons {
    display: none;
}
.burger_icon {
    font-size: 35px;
    color: var(--top-heading-color);
}
#burger_checkbox:checked~.subheader_navigation_icons {
    display: flex;
}
@media (min-width: 800px) {
    .burger_icon {
        display: none;
    }
    .subheader_navigation_icons {
        display: flex;
    }
} */
.burger_menu {
    position: absolute;
    right: 35px;
    top: 12px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
@media (min-width: 400px) {
  .burger_menu {
    right: 47px;
  }
}
@media (min-width: 800px) {
  .burger_menu {
    top: -320px;
  }
}
.burger_menu span,
.burger_menu span:before,
.burger_menu span:after {
    position: absolute;
    width: 100%;
    height: 8px;
    display: block;
    background: var(--top-heading-color);
    border-radius: 5px;
    transition: .3s;
}
.burger_menu span:before {
  content: "";
  top: -15px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger_menu span {
  top: 20px;
}
.burger_menu span:after{
  content: "";
  bottom: -15px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger_menu span.active:before{
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger_menu span.active:after{
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.burger_menu span.active{
  background: rgba(246, 196, 61, 0); 
}