.car-rental {
    display: flex;
flex-direction: column;
margin: 15px 10% 15px 10%;    
}
@media (min-width: 600px) {
  .car-rental {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
  }
  .div-second {
           align-items: center;
   }
}
.div-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15%;
}

.div-second {
  display: flex;
max-width: 100%;
height: auto;
text-align: center;
vertical-align: middle;
margin-top: 40px;
margin-bottom: 40px;
}

.div-first__top {
  font-family: Ubuntu, sans-serif;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.1em;
color: #f6c43d; 
margin-top: 30px;
margin-bottom: 30px;
margin-left: 25px;
}

.div-first__head {
  font-family: "Barlow Condensed", sans-serif;
font-size: 40px;
font-weight: 700;
color: #222;
margin-left: 25px;
margin-bottom: 20px;
}

.div-first__p-first {
  font-size: 18px;
  font-weight: 700;
  color:#222;
  margin-left: 25px;
  margin-bottom: 25px;  
}

.div-first__p-second, .div-first__ul {
  font-size: 17px;
  font-weight: 400;
  color:#898989;
  margin-left: 25px;
  margin-bottom: 30px;
  max-width: 100%;
}

.div-third {
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px; 
  margin-left: 15%;    
}

.div-third__div-p-third {
  font-size: 17px;
  font-weight: 400;
  color:#898989;
  margin-bottom: 20px;
  margin-top: 10px;
     
}

.div-third__div-p-second {
  font-size: 24px;
  font-family: "Barlow Condensed",sans-serif;
  font-weight: 600;
}  

.div-third__div-p-first {
  font-weight: bold;
  font-size: 70px;
  font-family: "Barlow Condensed",sans-serif;
  font-weight: 600;
  color: var(--main-blue);
  margin-bottom: 0px;
  margin-top: 20px;
  padding: auto;
}       

.div-first__contact-buttom {
  font-size: 16,5px;
font-weight: 700;
color: #fff;
font-stretch: 100%;
background-color: var(--main-blue);
padding: 15px 15px ;
border-radius: 30px;
margin-left: 25px;
position: relative;
width: 170px;
text-align: center;
text-decoration: none;
transition: color 0.3s;
}

.div-first__contact-buttom:hover {
  background-color: var(--top-heading-color); 
}