@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
:root {
    font-family: Ubuntu, monospase;
    --top-heading-color: rgb(246, 196, 61);
    --main-blue: rgb(16, 136, 228);
    --main-white: rgb(255, 255, 255);
    --main-black: rgb(34, 34, 34);
    --main-gray: rgb(137, 137, 137); /* text description*/
}
img {
    display: block;
    width: 100%;
}
main {
    background-color: rgba(34, 34, 34, 0.054);
}