.contacts_maps{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    background-color:rgb(255, 255, 255);
    background-size: cover;
    flex-direction: column;
}

.main_contacts-bacground{
    
    background-image: url(../img/background_flop.jpg);
    flex-direction: column;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}
.main_contacts{ 
    background-color: rgb(255, 255, 255);
    margin: 120px 120px;
    }
.fastcar{
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    font-size: inherit;
    color: #f6c43d;
    margin-top: 30px;
    margin-bottom: 30px;
}
@media (max-width: 992px){
    .fastcar {
        font-size: inherit;
    }
}
.contacts{
    text-align: center;
    font-size: 35px;
    color: #222;
    line-height: 1;
    font-family: Barlow Condensed,sans-serif;
    font-weight: 200;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
   }
.street{
    font-size: 20px;
    line-height: 1.5;
    font-family: Ubuntu,sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    letter-spacing: -.022em;
    color: #898989;
    text-transform: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.phone {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ui-link{
    color: #f6c43d;
    margin-top: 30px;
    margin-bottom: 30px;

}
.social_icons_contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 4px) {
    .social_icons_contacts {
        margin-left: 30%;
        margin-right: 30%;
    }
}
.subheader_social_icon{
    
    margin-bottom: 20px;
}

.buttom-car {
    color: var(--main-white);
    background-color: var(--top-heading-color);
    border: 1.5px solid var(--top-heading-color);
    padding: 15px 30px;
    border-radius: 30px;
    margin-top: 30px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16,5px;
    font-weight: 700;
    color: #fff;
    font-stretch: 100%;
    width: 170px;
    margin: auto;
}

.buttom-car-rent{
    color: var(--main-white);
    text-align: center;
    text-decoration: none;
  
}
.buttom-car:hover {
    background-color: var(--main-blue);
    border: 1.5px solid var(--main-blue);
}

.maps-width{
    width: 660px;
    height: 630px;
}
.maps-section{
    margin: auto;
}