.faq {
    background-color: black;
    color: white;
    }

    .faq-container {
        margin: 15px 10% 15px 10%;
    }

.faq-header-top {
    font-family: Ubuntu, sans-serif;
font-size: 10px;
font-weight: 700;
letter-spacing: 0.1em;
color: #f6c43d; 
margin-top: 30px;
margin-bottom: 30px;
margin-left: 25px;
}

.faq-header {
    text-align: center; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
}

.faq-header-head {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    }

.faq-header-text {
    color: var(--main-gray);
    font-family: Ubuntu,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -.022em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15px; 
}

.faq-content-carousel {
    display: flex;
    justify-content: center;
}

.faq-content-carousel-slide {
    display: flex;
    justify-content: center;
 margin-bottom: 2%;
    width: 80%;
}

.faq-slide-head {
    font-size: 22px;
    font-weight: 600;
    font-family: Barlow Condensed,sans-serif;
    line-height: 1.3;
    letter-spacing: -.02em;
    margin-top: 3%;
    margin-bottom: 1%;
    color: var(--main-white);
    text-align: center;
}

.faq-slide-text {
    color: var(--main-gray);
    font-family: Ubuntu,sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: -.022em;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.faq-content-carousel-slide-button {
    background-color: transparent;
    border: transparent;
    color: white;
    height: 80px;
    margin: auto;
    cursor: pointer;
    opacity: 0.7;
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
}