.footer {
  padding: 60px 40px 30px;
  background-color: var(--main-black);
  display: flex;
  flex-direction: column;
}
.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
}
.footer__nav-bar a {
  color: var(--main-white);
  text-decoration: none;
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.footer__nav-bar a:hover {
  color: var(--top-heading-color);
}
.footer__nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  width: 50vw;
}
.footer__company-logo {
  width: 103px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__line {
  background-color: var(--main-white);
  bottom: 1px;
  height: 1px;
  opacity: 0.2;
}
.footer__copyrights {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: var(--main-gray);
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  line-height: 22.4px;
}
.footer-clock {
  color: gray;
  text-decoration: none;
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
}
@media (max-width: 1024px) {
  .footer__nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 62px 30px 32px;
  }
}

@media (max-width: 425px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  .footer__copyrights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
