.header {
    max-width: 100vw;
    height: auto;
    background: url("/img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.header_subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    max-width: 1200px;
    margin-left: 10%;
    margin-right: 10%;
}
.subheader_img_logo_style {
    width: 97px;
    height: auto;
}
.subheader_navigation_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}
.subheader_navigation {
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
.subheader_navigation_list {
    text-decoration: none;
    color: #222;
    padding: 0px 10px;
}
.subheader_social_icons {
    display: flex;
    flex-direction: row;
}
.social_icon,
.learn_more_icon_style {
    width: 25px;
    height: 25px;
    padding: 5px;
}
.main_text {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 30vw;
}
.text {
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
}
.blue_text {
    color: var(--main-blue);
}
.header_title {
    color: var(--top-heading-color);
    font-size: 170px;
    line-height: 0.9em;
    font-family: "Barlow Condensed", sans-serif;
}
.header_menu_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}
.header_button_learn_more,
.header_button_price {
    text-decoration: none;
    font-size: 16.5px;
    font-weight: 700;
}
.header_button_learn_more {
    color: #FFFFFF;
    background-color: var(--main-blue);
    border: 1.5px solid var(--main-blue);
    padding: 15px 30px;
    border-radius: 30px;
    margin-right: 2%;
}
.header_button_price {
    color: var(--top-heading-color);
}
