.header {
    background: url("../img/background_img.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
    
}
.header_subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    margin-left: 5%;
    margin-right: 5%;
}
@media (min-width: 400px) {
    .header_subheader {
        padding: 15px 10px;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media (min-width: 1200px) {
    .header_subheader {
        padding: 20px 15px;
        margin-left: 10%;
        margin-right: 10%;
    }
}
.subheader_img_logo_style {
    width: 97px;
    height: auto;
}
.subheader_navigation_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
@media (min-width: 400px) {
    .subheader_navigation_icons {
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }
}
@media (min-width: 800px) {
    .subheader_navigation_icons {
        flex-direction: row;
    }
}
.subheader_navigation {
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 400px) {
    .subheader_navigation {
        padding: 10px 10px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
@media (min-width: 600px) {
    .subheader_navigation {
        padding: 10px 10px;
        flex-direction: column;
    }
}
@media (min-width: 800px) {
    .subheader_navigation {
        flex-direction: row;
    }
}
.subheader_navigation_list {
    text-decoration: none;
    color: var(--main-black);
    padding: 0px 10px;
    font-size: 0.7em;
    font-weight: 500;
}
@media (min-width: 400px){
    .subheader_navigation_list {
        font-size: 0.8em;
    }
}
@media (min-width: 900px){
    .subheader_navigation_list {
        font-size: inherit;
    }
}

.subheader_navigation_list:hover {
    color: var(--top-heading-color);
    text-decoration: underline;
}
.subheader_social_icons {
    display: flex;
    flex-direction: row;
}
.subheader_social_icon,
.subheader_learn_more_icon_style {
    width: 25px;
    height: 25px;
    
}
@media (min-width: 600px) {
    .subheader_learn_more_icon_style {
        width: 30px;
        height: 30px;
    }
}
.subheader_main_text {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 40vh;
}
.subheader_text {
    font-size: 10px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 10px;
}
@media (min-width: 400px) {
    .subheader_main_text {
        max-width: 60vw;
    }
    .subheader_text {
        font-size: 14px;
    }
}
@media (min-width: 600px) {
    .subheader_main_text {
        max-width: 50vw;
    }
    .subheader_text {
        font-size: inherit;
        margin-bottom: 5px;
    }
}
@media (min-width: 1200px) {
    .subheader_main_text {
        max-width: 30vw;
        margin-left: 10%;
        margin-right: 10%;
    }
}
.blue_text {
    color: var(--main-blue);
}
.header_title {
    color: var(--top-heading-color);
    font-size: 80px;
    line-height: 0.9em;
    font-family: "Barlow Condensed", sans-serif;
    margin-bottom: 40px;
}
@media (min-width: 400px) {
    .header_title {
        font-size: 110px;
    }
}
@media (min-width: 600px) {
    .header_title {
        font-size: 120px;
        margin-bottom: 30px;
    }
}
@media (min-width: 800px) {
    .header_title {
        font-size: 150px;
    }
}
.header_menu_btn {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.header_button_learn_more,
.header_button_price {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
}
@media (min-width: 400px) {
    .header_button_learn_more,
    .header_button_price {
        font-size: 13px;
    }
}
@media (min-width: 600px) {
    .header_button_learn_more,
    .header_button_price {
        font-size: 16.5px;
    }
}
.header_button_learn_more {
    color: var(--main-white);
    background-color: var(--main-blue);
    border: 1.5px solid var(--main-blue);
    padding: 15px 30px;
    border-radius: 30px;
    margin-right: 2%;
}
.header_button_learn_more:hover {
    background-color: var(--top-heading-color);
    border: 1.5px solid var(--top-heading-color);
}
.header_button_price {
    color: var(--top-heading-color);
}
.header_button_price:hover {
text-decoration: underline;
}