.offices-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url(../img/offices-section-background.jfif);
  padding-top: 5%;
  padding-bottom: 100px;
}

.offices-section__top-heading {
  display: grid;
  grid-template-rows: auto auto auto;
  text-align: center;
  grid-gap: 15px;
  font-size: 17px;
  font-weight: 400;
  align-items: center;
  line-height: 27.54px;
}

.offices-section__top-heading-name {
  color: var(--top-heading-color);
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.offices-section__top-heading-title {
  color: var(--main-white);
  font-size: 65px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 25px;
}
.offices-section__top-heading-description {
  color: var(--main-gray);
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
}

.offices-section__images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.images-container-image {
  justify-content: space-around;
  max-width: calc(50% - (10px * 2));
  margin: 10px;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .offices-section__top-heading-title {
    font-size: 40px;
  }
  .offices-section__top-heading-description {
    margin-left: 8%;
    margin-right: 8%;
  }
}

@media (max-width: 1024px) {
  .offices-section__top-heading-title {
    font-size: 52px;
  }
}

.offices-section-carousel {
  display: none;
  justify-content: center;
}

.offices-section-carousel__slide {
  display: flex;
  justify-content: center;
}

.offices-section-carousel__button {
  background-color: transparent;
  border: transparent;
  color: white;
  height: 80px;
  margin: auto;
  cursor: pointer;
  opacity: 0.7;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
}
