.section_manufactures {
    background-color: var(--main-black);
    display: flex;
    flex-direction: column;
}
@media (min-width: 800px) {
    .section_manufactures {
       flex-direction: row;
       align-items: center;
    }
}
.section_manufactures_main {
    min-width: 300px;
    justify-content: flex-start;
    padding: 60px 40px 30px 40px;
}
.section_manufactures_text {
    font-size: 14px;
    font-weight: 700;
    color: var(--top-heading-color);
    margin-bottom: 20px;
}
.section_manufactures_title {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 40px;
    color: var(--main-white);
    margin-bottom: 20px;
    line-height: 1em;
}
.section_manufactures_description {
    line-height: 1.5em;
    color: var(--main-white);
    font-size: 20px;
    opacity: 0.7;
}
.section_manufactures_brand_carusel_btn {
    display: flex;
    flex-direction: column;
}
.section_manufactures_brand_carusel {
    display: flex;
    flex-direction: column;
}
.brand_carusel_photos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.brand_carusel_photo {
    background-color: rgba(255, 255, 255, 0.06);
    margin: auto;
    padding: 10px;
    margin: 10px;
    min-height: 250px;
    position: relative;
    display: flex;
    align-items: center;
} 
@media (min-width: 600px) {
    .brand_carusel_photo {
        width: 300px;
    }
}
@media (min-width: 800px) {
    .brand_carusel_photo {
        min-height: 200px;
        width: 200px;
        margin-top: 60px;
    }
}
@media (min-width: 1200px) {
    .brand_carusel_photo {
        min-width: 270px;
    }
}

.manufacture_carusel_btns {
    display: flex;
    justify-content: center;
}
.manufacture_carusel_btn_forvard,
.manufacture_carusel_btn_back {
    background-color: var(--main-white);
    width:12px;
    height:12px;
    color: var(--main-white);
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    opacity: 0.6;
}
.manufacture_carusel_btn_forvard:hover,
.manufacture_carusel_btn_back:hover {
    opacity: 1;
}

