.send-request {
    display: flex;
    background-image: url("//res2.weblium.site/res/5ebd017955744e0022918f1b/5ec3d6843cf4820021b3191d");
    background-repeat: no-repeat;
    background-position-x: 48.44%;
    background-position-y: 56.51%;
    background-size: cover;
    height: auto;
    width: auto;
    position: relative;
    flex-wrap: wrap;
    
}
.send-request_all-inform {
    display: flex;
    flex-direction: column;
    background-color: var(--main-white);
    height: auto;
    width: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
}
@media (max-width:600px) {
    .send-request_all-inform {
    display: flex;
    margin: 15px;
    } 
}