<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Iryna Dobrovolska start-->
    <section class="best offers">
        <div class="offer">
          <h2>— BEST OFFER</h2>
          <h1>Cars of the Month</h1>
          <p>Contact us right now and take advantage of the special offer. Get 10% when renting any car of the
            month, for any period!</p>
        </div>
        <div class="car show">
          <article class="bmw">
            <img width="600" src="img/BMW.png" alt="BMW__i8">
            <h3>BMW i8</h3>
            <p>This car is for true speed fans! If you love a fast ride, this car is for you! Feel all its
              force!
            </p>
          </article>
          <article class="ford">
            <img width="600" src="img/ford.png" alt="Ford__Everest">
            <h3>Ford Everest</h3>
            <p>This SUV is perfect for both the city and off-road. It has a spacious baggage compartment.</p>
          </article>
          <article class="lexus">
            <img width="600" src="img/lexus_sx.png" alt="Lexus__SX350">
            <h3>Lexus SX350</h3>
            <p>It's an elegant and comfortable business class car. Perfect for driving to a business meeting.
            </p>
          </article>
        </div>
      </section>
      <!--Iryna Dobrovolska end-->
</body>
</html>